# Project name is used as Docker compose project name
PROJECT_NAME=frappe-test-project

# Email address for Let's Encrypt account
LETSENCRYPT_EMAIL=mail@example.com

# How should the project be accessible?
# tailscale      accessible via Tailscale, only inside the Tailnet
# 104.18.26.120  accessible at this public IP
# eth0.me        check this server's IP address using the eth0.me service
LISTEN_ON=tailscale

