# For easy identification, this file is named <FQDN>.env
# The only requirement is that filenames end in .env, otherwise it won't be processed
# For ordered start up, use <NN>-<FQDN>.env

# DNS configuration
# If SUBDOMAIN is empty, then FQDN will be test.example.com
DOMAIN=example.com
SUBDOMAIN=sub
HOSTNAME=test
# If WILDCARD=1, then the DNS record will be *.sub.domain.com
# The HTTPS certificate will also be *.sub.domain.com
WILDCARD=1

# DNS API credentials -- this is provider-specific
DNS_PROVIDER=your-favorite-dns-provider
DNS_API_KEY=example-porkbun-api-key
DNS_API_SECRET=example-porkbun-api-secret
ZONE_ID=example-cloudflare-zone-id
DNS_API_TOKEN=example-cloudflare-api-token

# Note: other DNS providers will have different credential sets

